<div class="btn-group">
    <label class="btn btn-primary" ng-model="vm.mode" uib-btn-radio="'view'">View</label>
    <label class="btn btn-primary" ng-model="vm.mode" uib-btn-radio="'add'">Add</label>
    <label class="btn btn-primary" ng-model="vm.mode" uib-btn-radio="'delete'">Delete</label>
</div>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="vm.terrain" uib-btn-radio="'height'">Height</label>
    <label class="btn btn-primary" ng-model="vm.terrain" uib-btn-radio="'tax'">Tax</label>
    <label class="btn btn-primary" ng-model="vm.terrain" uib-btn-radio="'population'">Population</label>
</div>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="vm.markers.armies" uib-btn-checkbox>Armies</label>
    <label class="btn btn-primary" ng-model="vm.markers.movements" uib-btn-checkbox>Movements</label>
    <label class="btn btn-primary" ng-model="vm.markers.buildings" uib-btn-checkbox>Buildings</label>
</div>